# Motif Mapping Bcd


## Purpose

Based off of Ciera Martinez's `map_motif.py`, but used within a Jupyter notebook. In this notebook, we are looping through the whole pipeline to create output files. Previously, when Ciera used the output files to check the top scored motifs, the motifs were not what they should be.  This could have been the script or the actual input motifs. To test if it was faulty motif files, Joanne then was able to get this script to input another type of input motif files type, JASPAR. 

Ciera used this notebook to map bicoid across the first ~200 files.

## Results

The `pipeline()` function works great, but only on some of the files. I tested without the threshold option and all the scores were not output, but enough in some of the files were output for me to check the top scored motifs of bcd as an example. It allowed me to loop for the top motifs and Ciera was able to determine that the original problem was indeed the motif input files and not the script. This is good news!  This means we have to 

1. We need to use JASPAR files for motif input. JASPAR files need to be modified to work. Maybe create a script to convery JASPAR?
2. We need to correct some problems and address some questions with the 
    

## Overall goal

1. Create a working script that is capable of looping through thousands of files. 

## Todo

These are what needs to be done (also outlined in TFBS_prescence [issues](https://github.com/DiscoveryDNA/TFBS_presence/issues/8).

- [ ] This loop errors out on certain numbers. Why is that?  How can we fix it?  
- [ ] Is this running the threshold correctly for each TFBS?  Can we have the function that tests the threshold on the random sequences run before we run this? Line 536 of `MSE.py` hardcodes which file to use. 
- [ ] The threshold also needs to be run on each file input.  Maybe we can split all the threshold functions into their own file?? 
- [ ] In line 80 in `MSE.py`, in the function description of `pipeline()`, Why is the threshold hardcoded in the funtion set to 80?
- [ ] When you run `pipeline()` without a threshold, it takes forever to start running. What is it working on?

In [2]:
# Import definitions & functions from .py file:
from MSE import *

### MSE.py has been debugged; Pipeline now works with JASPAR files.

In [41]:
align_path = '../data/alignments/*.fa' # Multiple alignment files
motif_path = "../data/jaspar_fm/modified/MA0212.1_bcd.jaspar" # 1 motif file
files = glob(align_path)

## Threw error bcd: 93, 25, 145, 180
## Threw error gt: 0,2,5 too many 
## Threw error hb: 0,5

count = 0
for i in range(0,15):
    count = count + 1
    jaspar_results = pipeline(files[i], motif_path)
    input_file = os.path.basename(os.path.normpath(files[i]))
    file_name="/Users/iamciera/Desktop/data_output/bcd/occurance_"+input_file+".csv"
    jaspar_results[0].to_csv(file_name) ## write out "filtered" results
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [14]:
view_data(jaspar_results, "filtered").head()

,score,species,raw_position,strand,align_position,motif
21,8.354094,VT29210|0|MEMB002A|+|1954,1454,positive,2839,MA0212.1_bcd.jaspar
25,8.354094,VT29210|0|MEMB002B|+|1951,1455,positive,2839,MA0212.1_bcd.jaspar
23,8.354094,VT29210|0|MEMB002C|+|1932,1432,positive,2839,MA0212.1_bcd.jaspar
14,11.612828,VT29210|0|MEMB002D|-|2326,111,negative,167,MA0212.1_bcd.jaspar
15,8.354094,VT29210|0|MEMB002D|-|2326,114,positive,170,MA0212.1_bcd.jaspar

In [5]:
view_data(jaspar_results, "grouped").head()

                       Species with TFBS at Position  Count
0  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...      1
1  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002C...      1
2                       (VT10670|1|MEMB002F|-|2363,)      2
3                       (VT10670|1|MEMB002D|+|2107,)      2
4                       (VT10670|1|MEMB006C|+|2180,)      1

In [7]:
view_data(jaspar_results, "frequent").head()

  Species with TFBS at Position  Count
2  (VT10670|1|MEMB002F|-|2363,)      2
3  (VT10670|1|MEMB002D|+|2107,)      2

In [8]:
view_data(jaspar_results, "most frequent").head()

  Species with TFBS at Position  Count
2  (VT10670|1|MEMB002F|-|2363,)      2
3  (VT10670|1|MEMB002D|+|2107,)      2