## Motif Mapping

Using Ciera Martinez's map_motif.py in a generalized jupyter notebook function.

In [1]:
# Import definitions & functions from .py file:
from MSE import *

### Pipeline
* The following cell uses **all** of the functions in MSE.py through the pipeline function, and compiles all the results in the variable align3_results.
* pipeline might take a minute to run!

In [2]:
align_path = '../data/alignments/*0.fa' # Multiple alignment files
motif_path = '../data/pwm/bcd_FlyReg.fm' # 1 motif file
files = glob(align_path)

In [3]:
s = stand_cutoff(motif_path)

In [4]:
align3_results = pipeline(files[3], motif_path, s, percentile=95)

## Viewing the Results
* view_data is merely a convenience function that allows users to specify which part of the (very large) output to look at.
* See the documentation of view_data for more info

In [5]:
view_data(align3_results, "filtered").head()

,nucleotide,score,species,raw_position,strand,align_position,motif
21583,TTTA,3.355628,VT10670|1|MEMB002A|-|2087,30,negative,37,bcd_FlyReg.fm
21684,TAAA,3.355628,VT10670|1|MEMB002A|-|2087,81,positive,97,bcd_FlyReg.fm
21771,TTTA,3.355628,VT10670|1|MEMB002A|-|2087,124,negative,167,bcd_FlyReg.fm
21852,TAAA,3.355628,VT10670|1|MEMB002A|-|2087,165,positive,218,bcd_FlyReg.fm
21941,GTTA,4.317153,VT10670|1|MEMB002A|-|2087,209,negative,283,bcd_FlyReg.fm

In [6]:
view_data(align3_results, "grouped").head()

                       Species with TFBS at Position  Count
0  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...     13
1  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...      1
2  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...      4
3  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...      1
4  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...      1

In [7]:
view_data(align3_results, "frequent")

                         Species with TFBS at Position  Count
0    (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...     13
83                        (VT10670|1|MEMB002E|+|2138,)     13
96                        (VT10670|1|MEMB002F|-|2363,)     33
113                       (VT10670|1|MEMB003B|+|2146,)      8
134                       (VT10670|1|MEMB004E|-|2132,)     11
135                       (VT10670|1|MEMB005B|+|2166,)      8
140                       (VT10670|1|MEMB006A|-|2951,)     32
141                       (VT10670|1|MEMB006B|-|2132,)      8
146                       (VT10670|1|MEMB007D|+|2132,)     13

In [7]:
view_data(align3_results, "most frequent")

  Species with TFBS at Position  Count
5  (VT10670|1|MEMB002F|-|2363,)     33

In [12]:
#trial = frequent_across_alignments(files[0:2], motif_path, 95)

In [13]:
#trial.head(15)

## 2/4 Scratchwork

Modified "positions" function in threshold_setter.py to yield nucleotides at positions

In [8]:
file = files[0]
motif = '../data/pwm/cad_FlyReg.fm'

In [9]:

curr_file = read_records(file)
curr_motif = read_motif(motif)
curr_raw = raw_sequence_ungap(curr_file)
curr_cast = cast_sequence(curr_raw)
curr_motif_name = os.path.basename(motif) 

len_raw = len(extract_len_id(curr_raw, curr_cast))
raw_df = pd.DataFrame(positions(curr_raw, curr_cast, curr_motif))
temp_df = positive_positions(raw_df)
temp_df = define_sign(temp_df)

final_df = merge_align_df(temp_df, curr_file, len_raw)
final_df['motif'] = curr_motif_name

In [10]:
raw_df.head()

  nucleotide  position     score  seq_len                   species
0       AACT         0  1.593877     2300  VT0850|1|MEMB007D|+|2300
1       AACT     -2300 -2.991086     2300  VT0850|1|MEMB007D|+|2300
2       ACTT         1 -2.991086     2300  VT0850|1|MEMB007D|+|2300
3       ACTT     -2299 -0.406123     2300  VT0850|1|MEMB007D|+|2300
4       CTTT         2 -1.406123     2300  VT0850|1|MEMB007D|+|2300