## Motif Mapping

Using Ciera Martinez's map_motif.py in a generalized jupyter notebook function.

In [12]:
# Import definitions & functions from .py file:
from MSE import *

### Pipeline
* The following cell uses **all** of the functions in MSE.py through the pipeline function, and compiles all the results in the variable align3_results.
* pipeline might take a minute to run!

In [13]:
align_path = '../data/alignments/*0.fa' # Multiple alignment files
motif_path = '../data/pwm/bcd_FlyReg.fm' # 1 motif file
files = glob(align_path)
align3_results = pipeline(files[3], motif_path, percentile=95)

## Viewing the Results
* view_data is merely a convenience function that allows users to specify which part of the (very large) output to look at.
* See the documentation of view_data for more info

In [4]:
view_data(align3_results, "filtered").head()

,score,species,raw_position,strand,align_position,motif
5865,3.255753,VT10670|1|MEMB002A|-|2087,5.0,negative,6,bcd_FlyReg.fm
5880,3.355628,VT10670|1|MEMB002A|-|2087,30.0,negative,37,bcd_FlyReg.fm
5889,3.255753,VT10670|1|MEMB002A|-|2087,42.0,positive,49,bcd_FlyReg.fm
5906,3.255753,VT10670|1|MEMB002A|-|2087,70.0,negative,85,bcd_FlyReg.fm
5914,3.355628,VT10670|1|MEMB002A|-|2087,81.0,positive,97,bcd_FlyReg.fm

In [5]:
view_data(align3_results, "grouped").head()

                       Species with TFBS at Position  Count
0                       (VT10670|1|MEMB006B|-|2132,)     14
1  (VT10670|1|MEMB002F|-|2363, VT10670|1|MEMB003B...      1
2                       (VT10670|1|MEMB003D|-|2148,)      3
3  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...     31
4  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...      1

In [6]:
view_data(align3_results, "frequent")

                         Species with TFBS at Position  Count
0                         (VT10670|1|MEMB006B|-|2132,)     14
3    (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...     31
7                         (VT10670|1|MEMB006A|-|2951,)     71
12                        (VT10670|1|MEMB005B|+|2166,)     15
18                        (VT10670|1|MEMB007C|+|2121,)     12
24                        (VT10670|1|MEMB002D|+|2107,)     12
27                        (VT10670|1|MEMB003F|-|2171,)      8
34                        (VT10670|1|MEMB004E|-|2132,)     14
37                        (VT10670|1|MEMB002F|-|2363,)     44
44                        (VT10670|1|MEMB003B|+|2146,)     14
45                        (VT10670|1|MEMB007D|+|2132,)     25
53                        (VT10670|1|MEMB002E|+|2138,)     13
64                        (VT10670|1|MEMB008C|-|2217,)     17
74                        (VT10670|1|MEMB004B|+|2152,)     12
129  (VT10670|1|MEMB003A|-|2112, VT10670|1|MEMB003D...      7

In [7]:
view_data(align3_results, "most frequent")

  Species with TFBS at Position  Count
7  (VT10670|1|MEMB006A|-|2951,)     71

In [8]:
trial = frequent_across_alignments(files[0:2], motif_path, 95)

In [9]:
trial.head(15)

                         Species with TFBS at Position  Count Alignment File
0                              (VT0850|1|dkik|-|2904,)     77      VT0850.fa
31                         (VT0870|0|MEMB005D|-|2612,)     53      VT0870.fa
3    (VT0850|1|MEMB002A|-|2035, VT0850|1|MEMB002B|-...     49      VT0850.fa
38                         (VT0870|0|MEMB007D|+|2418,)     37      VT0870.fa
1                          (VT0870|0|MEMB002F|+|2269,)     30      VT0870.fa
34                         (VT0870|0|MEMB002D|+|2332,)     29      VT0870.fa
7                          (VT0850|1|MEMB006C|+|2323,)     28      VT0850.fa
10                         (VT0850|1|MEMB008C|+|2426,)     24      VT0850.fa
4                          (VT0850|1|MEMB007D|+|2300,)     23      VT0850.fa
14                         (VT0850|1|MEMB005B|-|2353,)     21      VT0850.fa
26                         (VT0850|1|MEMB003B|+|2201,)     20      VT0850.fa
200                        (VT0870|0|MEMB006A|-|2231,)     19      VT0870.fa
6                          (VT0870|0|MEMB006B|+|2118,)     18      VT0870.fa
29                         (VT0850|1|MEMB002E|+|2250,)     17      VT0850.fa
64                         (VT0870|0|MEMB005B|+|2264,)     17      VT0870.fa