## Motif Mapping

Using Ciera Martinez's map_motif.py in a generalized jupyter notebook function.

In [1]:
# Import definitions & functions from .py file:
from MSE import *

### Pipeline
* The following cell uses **all** of the functions in MSE.py through the pipeline function, and compiles all the results in the variable align3_results.
* pipeline might take a minute to run!

In [2]:
align_path = '../data/alignments/*0.fa' # Multiple alignment files
motif_path = '../data/pwm/bcd_FlyReg.fm' # 1 motif file
files = glob(align_path)

In [3]:
s = stand_cutoff(motif_path)

In [3]:
align3_results = pipeline(files[3], motif_path, 0, percentile=95)

## Viewing the Results
* view_data is merely a convenience function that allows users to specify which part of the (very large) output to look at.
* See the documentation of view_data for more info

In [5]:
f = view_data(align3_results, "filtered")
f.groupby(["species", "raw_position"]).count().head(20)

                                        score  strand  align_position  motif
species                   raw_position
VT10670|1|MEMB002A|-|2087 0                 1       1               1      1
                          5                 2       2               2      2
                          6                 1       1               1      1
                          7                 1       1               1      1
                          12                1       1               1      1
                          13                2       2               2      2
                          15                1       1               1      1
                          16                1       1               1      1
                          17                1       1               1      1
                          18                1       1               1      1
                          22                1       1               1      1
                          24                2       2               2      2
                          28                1       1               1      1
                          30                1       1               1      1
                          34                2       2               2      2
                          35                2       2               2      2
                          36                2       2               2      2
                          38                1       1               1      1
                          42                2       2               2      2
                          46                2       2               2      2

In [5]:
view_data(align3_results, "grouped").head()

                       Species with TFBS at Position  Count
0  (VT10670|1|MEMB003A|-|2112, VT10670|1|MEMB004B...      1
1  (VT10670|1|MEMB002E|+|2138, VT10670|1|MEMB002F...      1
2  (VT10670|1|MEMB002F|-|2363, VT10670|1|MEMB003B...      1
3  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...     13
4  (VT10670|1|MEMB005D|-|2145, VT10670|1|MEMB006A...      5

In [6]:
view_data(align3_results, "frequent")

                        Species with TFBS at Position  Count
3   (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...     13
5                        (VT10670|1|MEMB002F|-|2363,)     33
14                       (VT10670|1|MEMB006B|-|2132,)      8
15                       (VT10670|1|MEMB007D|+|2132,)     13
16                       (VT10670|1|MEMB006A|-|2951,)     32
18                       (VT10670|1|MEMB004E|-|2132,)     11
20                       (VT10670|1|MEMB002E|+|2138,)     13
41                       (VT10670|1|MEMB003B|+|2146,)      8
74                       (VT10670|1|MEMB005B|+|2166,)      8

In [7]:
view_data(align3_results, "most frequent")

  Species with TFBS at Position  Count
5  (VT10670|1|MEMB002F|-|2363,)     33

In [8]:
#trial = frequent_across_alignments(files[0:2], motif_path, 95)

In [14]:
#trial.head(15)

                         Species with TFBS at Position  Count Alignment File
0                              (VT0850|1|dkik|-|2904,)     77      VT0850.fa
31                         (VT0870|0|MEMB005D|-|2612,)     53      VT0870.fa
3    (VT0850|1|MEMB002A|-|2035, VT0850|1|MEMB002B|-...     49      VT0850.fa
38                         (VT0870|0|MEMB007D|+|2418,)     37      VT0870.fa
1                          (VT0870|0|MEMB002F|+|2269,)     30      VT0870.fa
34                         (VT0870|0|MEMB002D|+|2332,)     29      VT0870.fa
7                          (VT0850|1|MEMB006C|+|2323,)     28      VT0850.fa
10                         (VT0850|1|MEMB008C|+|2426,)     24      VT0850.fa
4                          (VT0850|1|MEMB007D|+|2300,)     23      VT0850.fa
14                         (VT0850|1|MEMB005B|-|2353,)     21      VT0850.fa
26                         (VT0850|1|MEMB003B|+|2201,)     20      VT0850.fa
200                        (VT0870|0|MEMB006A|-|2231,)     19      VT0870.fa
6                          (VT0870|0|MEMB006B|+|2118,)     18      VT0870.fa
29                         (VT0850|1|MEMB002E|+|2250,)     17      VT0850.fa
64                         (VT0870|0|MEMB005B|+|2264,)     17      VT0870.fa