## Motif Mapping

Using Ciera Martinez's map_motif.py in a generalized jupyter notebook function.

In [2]:
import numpy as np
import pandas as pd
import re
import Bio

# For computations
import string
import random
import matplotlib.pyplot as plt; plt.rcdefaults()
import matplotlib.pyplot as plt

from Bio import SeqIO
from Bio import pairwise2
from IPython.display import Image
from Bio.pairwise2 import format_alignment
from glob import glob
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display
%matplotlib inline
plt.style.use('fivethirtyeight')

import os, sys
from Bio import motifs
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
from Bio.Alphabet import IUPAC, generic_dna, generic_protein

# Import definitions & functions from .py file:
from MSE import *

### Pipeline
* The following cell uses **all** of the functions in MSE.py through the pipeline function, and compiles all the results in the variable align3_results.
* pipeline may take a few minutes to run!

In [3]:
align_path = '../data/alignments/*0.fa' # Multiple alignment files
motif_path = '../data/pwm/bcd_FlyReg.fm' # 1 motif file
align3_results = pipeline(align_path, motif_path, 3, percentile=95)

## Viewing the Results
* view_data is merely a convenience function that allows users to specify which part of the (very large) output to look at.
* See the documentation of view_data for more info

In [5]:
view_data(align3_results, "filtered").head()

,score,species,raw_position,strand,align_position,motif
5865,3.255753,VT10670|1|MEMB002A|-|2087,5.0,negative,6,bcd_FlyReg.fm
5880,3.355628,VT10670|1|MEMB002A|-|2087,30.0,negative,37,bcd_FlyReg.fm
5889,3.255753,VT10670|1|MEMB002A|-|2087,42.0,positive,49,bcd_FlyReg.fm
5906,3.255753,VT10670|1|MEMB002A|-|2087,70.0,negative,85,bcd_FlyReg.fm
5914,3.355628,VT10670|1|MEMB002A|-|2087,81.0,positive,97,bcd_FlyReg.fm

In [6]:
view_data(align3_results, "grouped").head()

                       Species with TFBS at Position  Count
0                       (VT10670|1|MEMB006B|-|2132,)     14
1  (VT10670|1|MEMB002F|-|2363, VT10670|1|MEMB003B...      1
2                       (VT10670|1|MEMB003D|-|2148,)      3
3  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...     31
4  (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...      1

In [7]:
view_data(align3_results, "frequent").head()

                        Species with TFBS at Position  Count
0                        (VT10670|1|MEMB006B|-|2132,)     14
3   (VT10670|1|MEMB002A|-|2087, VT10670|1|MEMB002B...     31
7                        (VT10670|1|MEMB006A|-|2951,)     71
12                       (VT10670|1|MEMB005B|+|2166,)     15
18                       (VT10670|1|MEMB007C|+|2121,)     12

In [8]:
view_data(align3_results, "most frequent")

  Species with TFBS at Position  Count
7  (VT10670|1|MEMB006A|-|2951,)     71